header, section, footer, aside, nav, article, figure {
	display:block;	
}

body {
	margin:0px;
	background-color:#E9E9E9;	
}

div#page {
	margin:0px auto;
	width:1000px;
	height:1000px;
	background-color:#FFF;
	box-shadow:0 0 50px #777;
	-webkit-box-shadow:0 0 50px #777;
	-moz-box-shadow:0 0 50px #777;
}

header {
	margin:0px;
	padding:5px 0px;
	width:auto;
	height:150px;
}

div#MainBar {
	position:relative;
	margin: 10px auto;
	width:990px;
	height:95px;
	z-index: 2;
}

div#ProfileCard {
	float:right;
	margin-right:15px;
	width:400px;
	height:95px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	/*box-shadow:0 0 5px #09F;
	-webkit-box-shadow:0 0 5px #09F;
	-moz-box-shadow:0 0 5px #09F;*/
}

img#ProfilePhoto {
	float:right;
	margin:3px;
	width:90px;
	height:90px;
	border-radius: 5px;
	border: 5px solid white;
	-webkit-box-shadow: 0 0 5px gray;
	-mox-box-shadow: 0 0 5px gray;
	box-shadow: 0 0 5px gray;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

#ProfilePhoto:hover,
#ProfilePhoto:active,
#ProfilePhoto:focus {
	-webkit-transform: rotate(15deg) scale(1.1);
	-moz-transform: rotate(15deg) scale(1.1);
	-o-transform: rotate(15deg) scale(1.1);
	transform: rotate(15deg) scale(1.1);
}

span#Messages {
	padding-left:24px;
	margin-left:20px;
	height:18px;
	background-image:url(../images/icons.png);
	background-position:-10px -122px;
	background-repeat:no-repeat;
	cursor:pointer;
}

div#ProfileCard #User{

	font-family: 'Orbitron', sans-serif;
	float:right;
	clear:left;
	margin:40px 10px 0px 10px;
	color:#F00;
	font-size:24px;
}

div#ProfileCard #UserOptions {
	
	font-family: 'Cuprum', sans-serif;
	font-size:14px;
	float:right;
	clear:left;
	margin:5px 10px 5px 0px;
	color:#06C;	
	cursor:pointer;
}

.Separator {
	color:#090;
	font-weight:bold;
}

nav {
	font-family: 'Oswald','Aldrich', sans-serif;
	position:relative;
	margin:0px auto;
	width:1000px;
	height:50px;
	/*border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;*/
	background:url('../img/prueba.png') #36BCAB;
	
}

nav ul {
	margin:0px;
	padding:15px 30px 15px 30px;
}

nav ul li {
	display:inline;
	margin-right:40px;
}

nav ul li a {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	text-shadow:2px 2px 7px #999;
}

a:hover{
	
	color:#81F7BE;

}

#username, #password {
	
	border-color: #B9B9B9;
	border-width:1px;
	height: 20px;
	width: 130px;
	font-size: 16px;
	color: #6E6E6E;
}

td, th {
	
	font-family:'Electrolize', sans-serif;
	text-align: left;
	display: table-cell;
	vertical-align: inherit;
	font-size: 14px;
	color: #6E6E6E;
	
}

#login{

	float: right;
	margin-right: 15px;
	width: 400px;
	height: 60px;
	padding: 25px 0px 0px 0px;

}


#submitBtnLogin {

	color: #848484;
	font-size: 12px;
}

#messageError{
	
	font-family: 'Electrolize', sans-serif;
	color: #36BCAB;
	font-size: 12px;
	
}

/*section format*/

section{
	
	width:690px;
	height:800px;
	float:left;
	margin: 30px 15px;
	-webkit-box-shadow: 0 0 10px gray;
	-mox-box-shadow: 0 0 10px gray;
	box-shadow: 0 0 10px gray;
	-webkit-border-radius: 10px;
	-mox-border-radius: 10px;
	border-radius: 10px;
	
}

aside{

	width:250px;
	height:800px;
	float: right;
	margin: 30px 15px;
	-webkit-box-shadow: 0 0 10px gray;
	-mox-box-shadow: 0 0 10px gray;
	box-shadow: 0 0 10px gray;
	-webkit-border-radius: 10px;
	-mox-border-radius: 10px;
	border-radius: 10px;
		
}

.TitleLastUpdates {
	margin: 10px;
	font-size: 2em;
}

.TitleRelatedPosts {
	color: gray;
	margin: 10px;
	font-size: 1em;
}

.PostIndex {
	list-style: none;
	margin: 5px auto;
}

aside ul{
	padding: 0 5px;
}

.RelatedPostElement {
	text-align: justify;
	font-family: 'Orbitron', sans-serif;
	color: gray;
	font-size: 0.8em;
	text-decoration: none;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.RelatedPostElement:hover,
.RelatedPostElement:active,
.RelatedPostElement:focus {
	color: black;
}
	
body
{
font-family:arial;
}
.preview{
	
width:200px;
border:solid 1px #dedede;
padding:10px;

}

#preview{
	
color:#cc0000;
font-size:12px

}
/*section modal*/

.modalDialog {
	
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	
}

.modalDialog:target {
	
	opacity:1;
	pointer-events: auto;
	
}

.modalDialog > div {
	
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	
}

.close {
	
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	
}

.close:hover { background: #00d9ff; }

/*container register user*/

.jumbotron {
	
	font-family: 'Oswald','Aldrich', sans-serif;
	position:relative;
	width:100%;
	height:50px;
	margin-left: auto;
	margin-right: auto; 
	background:url('../img/prueba.png') #36BCAB;	
	line-height:3em;
		
}

.form-register{
	
	background-color: #fafafa;
	border: solid 1px #dbdbdb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: inset 0 0 8px #eee;
	margin: 80px auto;
	padding: 40px 20px 30px 20px;
	text-align: center;
	width: 485px;
	
}

input[type=text].text_field,input[type=password].text_field{
	
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width: 370px;
  height: 32px;
  
}
 
input[type=password]:focus,input[type=text]:focus{
	
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),0 0 5px rgba(81, 167, 232, 0.5);
  
}

.text_field { font-size: 18px; }


.button.primary{
	
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #60B044;
	background-image: -moz-linear-gradient(#8ADD6D, #60B044);
	background-image: -webkit-linear-gradient(#8ADD6D, #60B044);
	background-image: linear-gradient(#8ADD6D, #60B044);
	background-repeat: repeat-x;
	border-color: #5CA941;
	
}

button.primary {
	
	width: 80%;
	padding: 9px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid #DDD;
	
}

.gender {
	
		color: #333;
		font-size: 20px;
		font-weight: normal;
		
}

.cmp{ margin-bottom: 10px; }

.cmp_button{ margin-top: 50px; }

input[type=text].text_field_calendar{ width: 330px; }

.ui-datepicker-trigger {
	
	margin-left:5px;
    margin-bottom: -12px;
    
}

/*Message error*/

.error {
	
       font-family:Arial, Helvetica, sans-serif; 
       font-size:13px;
       border: 1px solid;
       margin: 10px 0px;
       padding:15px 10px 15px 50px;
       background-repeat: no-repeat;
       background-position: 75px center;
       color: #D8000C;
       background-color: #FFBABA;
       background-image: url('../img/error.png');
              
}

.message{ margin: 20px; }