html{

	background:url('../img/prueba.png') #3A808E;
	
}

body {

	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#666666;
	text-align:center; /*aqui mandamos a centrar todo el contenido*/ 
	width: 100%;
	min-width: 1350px;

}

#content {

	height: 240px;
	width: 100%;
	min-width: 1040px;
	/*border:1px solid #00C0C7; encadeno los 3 atributos claves del borde en una sola linea, ahorrando codigo XD*/ 
	background:url('../img/prueba.png') #679BA6;
	margin:10px auto; /*10px arriba y abajo, y auto a los lados, para los navegadores nuevos es suficiente para centrar la pagina*/ 
	 /*aqui alineamos todo de nuevo a la izquierda, pero dentro del contenedor*/ 

}

#containerForm{

	position: relative;
	width: 960px;
	margin: 0 auto;

}

#content2{

	display:inline-block;
	vertical-align:top;
	width: 560px;
	margin: 20px 0px 0px 20px;
	/*width:350px;ancho total de la pagina*/ 
	/*border:2px solid #FFFCFC; encadeno los 3 atributos claves del borde en una sola linea, ahorrando codigo XD*/ 
/*	background-color:#145F44;*/
	padding: 10px;

}

#footer{

	height: 520px;
	width: 100%;
	min-width: 1040px;
	background:url('../img/prueba.png') #D2C34D;

}

table {

	border-collapse: separate;
	border-spacing: 6px;
	border-color: gray;

}

tr{

	display: table-row;
	vertical-align: inherit;
	border-color: inherit;

}

td {

	font-size: 14px;

}

td, th {

	text-align: left;
	display: table-cell;
	vertical-align: inherit;

}

#name, #lastName, #email, #phone, #message {

	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #D8D570;
	height: 23px;
	width: 209px;
	font-size: 16px;
	color:#6E6E6E;

}

#message {

	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #D8D570;
	height: 127px;
	width: 422px;
	font-size: 16px;
	resize: none;

}

.titleGetInTouch{

	font-family:'Denk One','Mouse Memoirs',Georgia, "Times New Roman", Times, serif;
	font-size:60px;
	color:#F5F6CE;
	text-align:center;
	padding-bottom:15px;

}

#formm{
			
	margin: 20px 20px 0px 20px;
	width:435px; /*ancho total de la pagina*/ 
	border:0px solid #FFFCFC; /*encadeno los 3 atributos claves del borde en una sola linea, ahorrando codigo XD*/ 

}

#space2 {

	width: 700px;
	min-width: 1350px;
	overflow: hidden;
	float:right;
	height: 70px;;
	clear: both;
	margin-top: 25px;

}

a:link,a:visited,a:link{

	font-family: 'Titillium Web', sans-serif;
	color:#333;
	font-size: 13px;
	text-decoration: none;
	
}
a:hover{

	font-family: 'Titillium Web', sans-serif;	
	color:#F3F781;
	font-size: 13px;
	text-decoration: none;

}

.separator{

	color:#333;

}

.copyRight{

	font-family: 'Titillium Web', sans-serif;
	font-size: 9px;
	color: #4E4E4E;

}

#footerContainer{

	padding-top:15px;
	position: relative;
	width: 960px;
	margin: 0 auto;

}

.menu li {

	display: inline-block;
	line-height: 88px;
	list-style-image: none;
	list-style-type: none;
	height: 80px;
	padding: 0 10px;
	margin: 0 5px;

}

a.mainMenu:link,a.mainMenu:visited,a.mainMenu:link{

	font-family: 'Unica One', cursive;
	color:white;
	font-size: 20px;
	
}

a.mainMenu:hover{
	
	color:#A9E2F3;
	font-family: 'Unica One', cursive;
	font-size: 20px;

}

#user, #password{

	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #EAEDEC;
	height: 23px;
	width: 209px;
	font-size: 16px;
	color:#6E6E6E;

}

#registerLogin{
	
	display:inline-block;
	vertical-align:top;
	margin: 40px 20px 20px 20px;
	/*border:1px solid #00C0C7;*/
	width: 220px;
	color:white;

}

p{

	font-family: 'Luckiest Guy', cursive;

}
	
	/*color:#C8FE2E;*/	

#submitBtnLogin{

	border: none;
	background:url('../img/prueba.png') #51CBE1;
	padding: 4px;
	text-align:center;
	margin: 5px auto;
	color:white;
	font-size: 14px;

}

#submitBtnLogin:hover{

	background-color: #016273;	

}

#submitBtngetInTouch{

	border: none;
	background:url('../img/prueba.png') #B8BA4D;
	padding: 4px;
	text-align:center;
	margin: 5px auto;
	color:white;
	font-size: 14px;

}

#submitBtngetInTouch:hover{

	background-color: #BDC026;

}

.dialog{

	margin: 10px;
	text-align : justify;
	font-family: 'Swanky and Moo Moo', cursive;
	color:white;
	font-size: 20px;

}
