<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
	    <session-factory>   
	    	<!-- driver of DB in this case MySQL -->
	        <property name="connection.driver_class">
	            com.mysql.jdbc.Driver
	        </property>
	        <!-- URL where is the DB -->
	        <property name="connection.url">
	            jdbc:mysql://localhost:3306/kuku
	        </property> 
	        <!-- properties for connect with the DB -->
	        <property name="connection.username">root</property>
	        <property name="connection.password">root1234</property>
	        <property name="connection.pool_size">1</property> 
	        <!-- this property indicate the Sql type -->    
	        <property name="dialect">
	            org.hibernate.dialect.MySQLDialect
	        </property>
	        <property name="current_session_context_class">thread</property>
	        <property name="cache.provider_class">
	            org.hibernate.cache.NoCacheProvider
	        </property>
	        <!-- show the Sql sentences -->
	        <property name="show_sql">true</property>
	        <!-- updated tables without SQL sentences-->
	        <property name="hbm2ddl.auto">update</property>
	 		<!-- Model class -->
	 		<mapping class="com.kuku.administrator.models"/>	
	    </session-factory>
	</hibernate-configuration>